/* A.module.css */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

.section {
  background-image: url("/images/picture/texture.jpeg");
  position: relative;
  width: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 90vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.text {
  font-family: "Zen Old Mincho", sans-serif;
  color: #fff;
}
