/* B.module.css */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');


.section {
  background-image: url("/images/picture/black_texture.png");
  position: relative;
  width: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 170vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (max-width: 768px) {
  .section {
    height: 230vh;
  }
  
}
