/* C.module.css */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

.section {
    background-image: url("/images/picture/ami.jpg");
    position: relative;
    width: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 80vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .content {
    position: relative;
    text-align: center;
  }

  .text {
    margin-top: 20vh;
    font-family: "Zen Old Mincho", sans-serif;
    color: #fff;
    font-size: 1.3rem;
  }

  @media (max-width: 1200px) {

    .section {
      height: 50vh;
      padding-top: 5vh;
    }

    .text {
      margin-top: 10vh;
      font-size: 1rem;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    .section {
      height: 70vh;
      padding-top: 0;
    }

    .content {
      text-align: left;
      padding: 1rem;
    }

    .text {
      margin-top: 10vh;
      font-size: 0.9rem;
      line-height: 2;
    }
    
  }
