/* RightPicture_LeftText_UpperTitle.module.css */
.section {
  height: 80vh;
  max-width: 1280px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 1rem auto;
}

.leftContent {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 80px;
  width: 50%;
  height: 60vh;
}

.container {
  text-align: left;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

.titleImage {
  width: 60%;
}

.box {

  width: 100%;
}

.description {
  font-size: 1rem;
  font-family: "Zen Old Mincho", sans-serif;
  font-weight: 400;
}

.rightContent {
  width: 50%;
  height: 70vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  flex-direction: column;
  z-index: 1;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
  z-index: 2;
}

@media (max-width: 1200px) {
  .section {
    padding: 1rem;
  } 

  .rightContent{
    height: 80%;
  }


  .Container {
    max-width: 100%;
    margin-left: 0%;
    padding: 10px;
  }

  .leftContent {
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  .titleImage {
    width: 50%;
  }
  
  .description {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column-reverse;
    height: auto;
  }
  
  .rightContent {
    width: 100%;
    height: 50vh;
  }

  .image {
    position: static;
    height: 100%;
  }

  .title {
    padding-right: 0px;
  }

  .titleImage {
    width: 70%;
  }

  .leftContent{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding-right: 0px;
  }
}
